body {
  margin: 0;
  padding: 24px;
  font-size: 28px;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.3;
  background-color:azure;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 112.5,
        "GRAD" 0,
        "ROND" 100;
    font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding: 8px 12px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 100;
  border-left: 5px solid greenyellow;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 100;
  border-left: 5px solid greenyellow;
  padding: 6px 12px;
}

p {
  padding: 8px 0px;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
  font-size: 0.8em;
}

.avatar {
  border-radius: 16px;  
  width: 150px;
  height: 200px;
  object-fit: cover;
}

ul.navigate {
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "ROND" 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #51a37e;
    border-radius: 16px;
    top: 0;
}

section {
    margin: 16px;
    padding: 16px;
    gap: 50px;
    border: 5px solid rgb(198, 198, 198);
    border-radius: 16px;
    text-align: left;
    align-items:center ;
    box-shadow: 5px 5px 5px rgb(198, 198, 198);
    background: whitesmoke;
  }

ul li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

a:hover   {
  background-color: #417fb9;
}

a.active  {
  background-color: #4CAF50;
}


.profile-header {
  padding: 12px;
    gap: 50px;
    margin: 16px;
    border: 5px solid rgb(198, 198, 198);
    border-radius: 16px;
    text-align: left;
    align-items:center ;
    box-shadow: 5px 5px 5px rgb(96, 96, 96);
    background: whitesmoke;
}

.navigate-box{
  position: sticky;
  top: 1%;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0px 5px 5px rgb(198, 198, 198);
}

ul.personal-info {
  display: block;
  font-weight: 200;
  font-size: 0.8em;
  overflow: hidden;
  padding-left: 0;
}

.personal-info li {
  padding: 6px 0;
  display: list-item;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 1px dashed rgb(175, 175, 175);
  width: 75%;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 16px;
}

.skill {
  color:azure;
  font-size: 0.8em;
  font-weight: 400;
  background: #458a6b;
  padding: 10px 16px;
  border-radius: 16px;
  transition: 0.3s;
}

.skill:hover {
  transform: scale(110%);
  box-shadow: 0px 5px 5px grey;
}

table{
  border-spacing: 1px;
  width: 100%;
  
}

.skills-table {
  width: 100%;
  font-size: 0.7em;
  background: white;
  border-radius: 16px;
  border-collapse: collapse;
  margin: 16px 0px;
}

.skills-table thead{
  background: #51a37e;
  color: white;
  font-size: 1em;
  
}

.skills-table th {
  padding: 16px;
  border-radius: 16px;
  margin: 3px;
}

.skills-table tbody tr td{
  border-bottom: 1px dashed rgb(175, 175, 175);
  padding: 16px;
  font-size: 0.85em;
}

.skills-table tbody tr:hover{
  transition: 0.1s;
  background: rgb(226, 226, 226);
}

.link {
  color:azure;
  font-size: 0.9em;
  font-weight: 400;
  background: #458a6b;
  padding: 8px 16px;
  border-radius: 16px;
  transition: 0.3s;
  text-decoration: none;
  margin: 8px;
}

.social-media p {
  font-size: 0.9em;
  margin: 8px 0;
}

.social-media {
  margin: 12px 0;
}

/*Form*/
.contact-form form {
  display: block;
  margin:auto
}

.form-topic label {
  font-size: 0.9em;
  font-weight: 200;
  margin: 8px;
}

.form-topic input,textarea {
  width: 90%;
  padding: 12px;
  border-radius: 16px;
  font-size: 0.7em;
  margin-bottom: 12px;
  border: 2px solid rgb(226, 226, 226);
}

.form-topic button {
  color:azure;
  font-size: 0.9em;
  font-weight: 400;
  background: #458a6b;
  padding: 8px 16px;
  border-radius: 16px;
  transition: 0.3s;
  margin: 8px;
  text-align: center;
  display: inline;
  border: none;
}

.form-topic button:hover{
  background-color: #417fb9;
  box-shadow: 0px 5px 5px grey;
}

footer {
  margin: 12px;
}

/*Reponsitive*/
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  header.profile-header{
    margin: 10px;
  }
  section {
    margin: 10px;
  }

  h1 {
    font-size: 1.3em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  p {
    font-size: 0.7em;
  }

  ul li a {
    font-size: 0.75em;
  }

  .personal-info li {
    width: 100%;
  }

  .skill {
    padding: 8px 14px;
    font-size: 0.7em;
  }
  /*skill table*/
  table, thead, tbody, th, td, tr{
    display: block;
  }

  thead {
    display: none;
  }

  tr:last-child {
    margin-bottom: 0;
  }

  tr {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    overflow: hidden;
  }

  td {
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:last-child {
        border-bottom: none;
  }

  td:before {
        content: attr(data-label);
        padding: 16px 20px;
        margin: -15px -20px -15px -20px;
        margin-right: 20px;
        min-width: 140px;
        display: flex;
        align-items: center;
    }
  
  .social-media p{
    font-size: 0.8em;
  }

  a.link {
    font-size: 0.7em;
    white-space: nowrap;
    text-overflow: clip;
  }

  label {
    font-size: 0.8em;
  }

  .form-topic input,textarea {
    width: 90%;
    padding: 12px;
    border-radius: 16px;
    font-size: 0.7em;
    margin-bottom: 12px;
    border: 2px solid rgb(226, 226, 226);
  }
}